body{
    /*first lesson*/
    background-color: brown;
}

h2{
    /*first lesson*/
    background-color: darkolivegreen;

    /*second lesson*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    /*first lesson*/
    background-color: beige;

    /*second lesson*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}